<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">

<div>
  <div class="navbar">
    <p class="navbarText" style="text-align: center;">{{user.server}} <br>{{user.database}}</p>
  </div>
  <div class="card center">
    Seleccione una tabla: 
    <select class="form-select" aria-label="Default select example" (change)=getTableAttributes($event.target.value)>
      <option *ngFor="let tabla of tablas; let i = index" [selected]="i == 0">
        {{tabla}}
      </option>
    </select>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Atributo</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="getAttribute(atributos[0])" *ngFor="let atributos of atributosTabla; let i = index">
          <th scope="row">{{atributos[0]}}</th>
          <td>{{atributos[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  